.about1{
    background-color: #b4d9fc;
    padding: 30px;
    text-align: center;
    font: xx-large math;
}

@media (max-width:600px){
    .about {
        display: block;
        padding-top: 30%;
        text-align: center;
    }
    .a1 img{
        width:90%;
    }


    .a2 {
        padding: 6%;
        font-size: medium;
        font-family: math;
        text-align: justify;
        /* width: 50%; */
        margin-left: auto;
    }  
}

@media (min-width:600px) and (max-width:940px){
    .about{
        
    display: block;
    padding-top: 30%;
    text-align: center;

    }
    
    .a1{
        display: contents;

    }
    .a1 img{
        width:90%;
    }
    .a2 {
        padding: 6%;
        font-size: medium;
        font-family: math;
        text-align: justify;
        
    }  
    }

@media (min-width:940px){

    .about{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 9%;
} 

    .a1{
        position: relative;
        padding: 3%;
        z-index: 0;
        box-shadow: #4a4a4a;
    }
    .a2{
        padding: 5%;
        font-size: medium;
        font-family: math;
        position: relative;
        text-align: justify;
        width: 50%;
        margin-left: auto;
    }
    .ab{
        position: fixed;
    }
       
}


